body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sliders {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
}

#sliders div {
    display: flex;
    align-items: center;
}

#animationCanvas {
    position: relative;
    border: 1px solid #000;
}

#speedSlider, #radiusSlider, #trailSlider {
    margin: 10px;
}