body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sliders {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#sliders div {
    display: flex;
    align-items: center;
    margin: 0 10px;
    margin-top: 20px;
}

#sliders label {
    margin-right: 10px;
    font-weight: bold;
}

#animationCanvas {
    border: 2px solid #000;
    border-radius: 10px;
}

#speedSlider, #radiusSlider, #trailSlider {
    margin: 10px;
    width: 100%;
}

.btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#ballCounter {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/* Hide the spinner controls for the number input */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

.btn:hover {
    background-color: #0056b3;
}